# Ignore virtual environment directories
.venv/

# Ignore IDE/editor configuration files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore sensitive information
.env

# Ignore large data files
*.csv

# Ignore compiled files
*.pyc
__pycache__/

# Ignore log files, temporary files, build outputs
*.log
*.tmp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore node_modules for frontend
node_modules/

# Ignore build outputs for frontend
build/

# Ignore any new directories or files created during this process
new_directory/
new_file.txt


src/.venv/
venv/